------------------------  10/13/2025

# Ch9. Files and Exceptions

Variables, lists, tuples, dictionaries, sets, arrays, pandas Series, and pandas DataFrames offer only temporary data storage lost when a local variable “goes out of scope” or when the program terminates
- Data maintained in files is persistent
Computers store files on secondary storage devices
- solid-state drives, hard disks, and more

text files in several popular formats
- plain text
- JSON (JavaScript Object Notation)
- CSV (comma-separated values)

exception handling
- An exception indicates an execution-time problem
- E.g., ZeroDivisionError, NameError, ValueError, StatisticsError, TypeError, IndexError, KeyError and RuntimeError
- Deal with exceptions as they occur by using try statements and except clauses
- Help you write robust, fault-tolerant programs that can deal with problems and continue executing or terminate gracefully

<strong>With<strong> statment: 
- is used to guarantee that after a program uses a resource, it’s released for use by other programs, even if an exception has occurred

## 9.2 Files

- A text file is a sequence of characters
- A binary file (for images, videos and more) is a sequence of bytes
- First character in a text file or byte in a binary file is located at position 0
    - In a file of n characters or bytes, the highest position number is n – 1
- For each file you open, Python creates a file object that you’ll use to interact with the file

<strong>End of File<strong>
- Every operating system provides a mechanism to denote the end of a file
- Some use an end-of-file marker
- Others maintain a count of the total characters or bytes in the file
- Programming languages hide these operating-system details from you

#### Standard File Objects in Python

When a Python program runs, it automatically creates three standard file objects: sys.stdin, sys.stdout, and sys.stderr. These are not regular files, but rather predefined file-like objects that handle input and output for your program. Let's break down what each of them is and how they are used in Python.

1. **`sys.stdin`**: Standard Input
   - Represents input data (default is the keyboard).
   - Used by `input()` to read user input.
   
2. **`sys.stdout`**: Standard Output

- Represents the output stream (default is the console).
- Used by print() to display output.

3. **`sys.stderr`**: Standard Error
- Represents the error stream (default is the console).
- Used by Python to print error messages and tracebacks.

--------- 10/14/2025
## 9.3.1 Writing to a Text File: Introducing the with Statement

<strong>with<strong> statement
- Acquires a resource and assigns its corresponding object to a variable
- Allows the application to use the resource via that variable
- Calls the resource object’s close method to release the resource

Built-In Function open
- Opens the file accounts.txt and associates it with a file object
- mode argument specifies the file-open mode
    - whether to open a file for reading from the file, for writing to the file or both.
- Mode 'w' opens the file for writing, creating the file if it does not exist
- If you do not specify a path to the file, Python creates it in the current folder
- Be careful—opening a file for writing deletes all the existing data in the file
- By convention, the .txt file extension indicates a plain text file

Writing to the File
- with statement assigns the object returned by open to the variable accounts in the as clause
- with statement’s suite uses accounts to interact with the file
- file object’s write method writes one record at a time to the file
- At the end of the with statement’s suite, the with statement implicitly calls the file object’s close method to close the file

In [59]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')
    # Can also write to a file with print, which automatically outputs a \n, as in
    print('100 Jones 24.98', file=accounts)

In [60]:
# Windows Users: View file contents
!more accounts.txt

100 Jones 24.98
200 Doe 345.67
300 White 0.00
400 Stone -42.16
500 Rich 224.62
100 Jones 24.98

---- 10/15/25

Ch: 9.3.2 
## Reading Data from a Text File 
- Let's read accounts.txt sequentially from beginning to end

In [8]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62
100       Jones          24.98

## 9.3.2 Reading Data from a Text File (cont.)¶
- If the contents of a file should not be modified, open the file for reading only
    - Prevents program from accidentally modifying the file
- Iterating through a file object, reads one line at a time from the file and returns it as a string
- For each record (that is, line) in the file, string method split returns tokens in the line as a list
- We unpack into the variables account, name and balance

File Method readlines
- File object’s readlines method also can be used to read an entire text file
- Returns each line as a string in a list of strings
- For small files, this works well, but iterating over the lines in a file object, as shown above, can be more efficient
    - Enables your program to process each text line as it’s read, rather than waiting to load the entire file

Seeking to a Specific File Position
- While reading through a file, the system maintains a file-position pointer representing the location of the next character to read
- To process a file sequentially from the beginning several times during a program’s execution, you must reposition the file-position pointer to the beginning of the file
    - Can do this by closing and reopening the file, or
    - by calling the file object’s seek method, as in
        - file_object.seek(0)
- The latter approach is faster

---- 10/20/25

# 9.4 Updating Text Files

When you need to change a record
- copy records before it into a temp file
- write corect record into this file
- copy the rest of the records
- delete old file
- rename temp file

Updating accounts.txt (cont.)
- This with statement manages two resource objects, specified in a comma-separated list after with
- If the account is not '300', we write record (which contains a newline) to temp_file
- Otherwise, we assemble the new record containing 'Williams' in place of 'White' and write it to the file

In [61]:
accounts = open('accounts.txt', 'r')

In [62]:
temp_file = open('temp_file.txt','w')

In [63]:
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record + '\n')

In [64]:
# Windows Users: View file contents
!more temp_file.txt

100 Jones 24.98
200 Doe 345.67
300 Williams 0.00
400 Stone -42.16
500 Rich 224.62
100 Jones 24.98

### os Module File-Processing Functions¶
- To complete the update, delete the old accounts.txt file, then rename temp_file.txt as accounts.txt

In [65]:
import os
os.remove('accounts.txt')
# To complete the update, delete the old accounts.txt file, then rename temp_file.txt as accounts.txt

In [66]:
os.rename('temp_file.txt', 'accounts.txt')
# Use the rename function to rename the temporary file as 'accounts.txt'

In [67]:
# Windows Users: View file contents
!more accounts.txt

100 Jones 24.98
200 Doe 345.67
300 Williams 0.00
400 Stone -42.16
500 Rich 224.62
100 Jones 24.98

------ 10/22/25

## 9.5 Serialization with JSON

- JSON (JavaScript Object Notation) is a text-based, human-and-computer-readable, data-interchange format used to represent objects as collections of name–value pairs.
- Preferred data format for transmitting objects across platforms.

JSON Data Format¶
- Similar to Python dictionaries
- Each JSON object contains a comma-separated list of property names and values, in curly braces.
    - {"account": 100, "name": "Jones", "balance": 24.98}
- JSON arrays, like Python lists, are comma-separated values in square brackets.
    - [100, 200, 300]

In [1]:
accounts_dict = {'accounts': [
    {'account': 100, 'name': 'Jones', 'balance': 24.98},
    {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

Serializing an Object to JSON¶
- Write JSON to a file
- json module’s dump function serializes the dictionary accounts_dict into the file

In [3]:
import json

with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

Deserializing the JSON Text¶
- json module’s load function reads entire JSON contents of its file object argument and converts the JSON into a Python object
- Known as deserializing the data

In [4]:
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [5]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [6]:
accounts_json['accounts'][0]

{'account': 100, 'name': 'Jones', 'balance': 24.98}

In [7]:
accounts_json['accounts'][1]

{'account': 200, 'name': 'Doe', 'balance': 345.67}

Displaying the JSON Text
- json module’s dumps function (dumps is short for “dump string”) returns a Python string representation of an object in JSON format
- Canbe used to display JSON in a nicely indented format
    - sometimes called “pretty printing”
- When call includes the indent keyword argument, the string contains newline characters and indentation for pretty printing
    - Also can use indent with the dump function when writing to a file

In [8]:
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

### 9.6 Focus on Security: pickle Serialization and Deserialization
- mainly in LEGACY code, obsolte 
- Python Standard Library’s pickle module can serialize objects into in a Python-specific data format
- “Pickle is a protocol which allows the serialization of arbitrarily complex Python objects. As such, it is specific to Python and cannot be used to communicate with applications written in other languages. It is also insecure by default: deserializing pickle data coming from an untrusted source can execute arbitrary code, if the data was crafted by a skilled attacker.”

--- 10/23/25
## 9.7 Modes avaiale when reading a file

| Mode  | Description                                                                                                              |
|-------|--------------------------------------------------------------------------------------------------------------------------|
| 'r'   | Open a text file for reading. This is the default if you do not specify the file-open mode when you call open.            |
| 'w'   | Open a text file for writing. Existing file contents are deleted.                                                         |
| 'a'   | Open a text file for appending at the end, creating the file if it does not exist. New data is written at the end of the file. |
| 'r+'  | Open a text file reading and writing.                                                                                      |
| 'w+'  | Open a text file reading and writing. Existing file contents are deleted.                                                  |
| 'a+'  | Open a text file reading and appending at the end. New data is written at the end of the file. If the file does not exist, it is created. |

### Other File Object Methods
read
- For a text file, returns a string containing the number of characters specified by the method’s integer argument
- For a binary file, returns the specified number of bytes
- If no argument is specified, the method returns the entire contents of the file
  
readline
- Returns one line of text as a string, including the newline character if there is one
- Returns an empty string when it encounters the end of the file
  
writelines
- Receives a list of strings and writes its contents to a file

Classes that Python uses to create file objects are defined in the Python Standard Library’s io module

## 9.8 Handling Exceptions

Various types of exceptions can occur when you work with files
- FileNotFoundError
    - Attempt to open a non-existent file for reading with the 'r' or 'r+' modes
    - PermissionsError
    - Attempt an operation for which you do not have permission
Try to open a file that your account is not allowed to access
    - Create a file in a folder where your account does not have permission to write
ValueError
    - Attempt to write to a file that has already been closed

## 9.8.1 Division by Zero and Invalid Input

attempting to divide by 0 results in a ZeroDivisionError

Interpreter raises an exception of type ZeroDivisionError
Exception in IPython
- terminates the snippet,
- displays the exception’s traceback, then
- shows the next In [] prompt so you can input the next snippet
Exception in a script terminates it and IPython displays the traceback

In [1]:
10 / 0

ZeroDivisionError: division by zero

#### Invalid Input
int raises a ValueError if you attempt to convert to an integer a string (like 'hello') that does not represent a number

In [2]:
value = int(input('Enter an integer: '))

Enter an integer:  cat

ValueError: invalid literal for int() with base 10: 'cat'

## 9.8.2 try Statements¶
Can handle exceptions so code can continue processing
Following code uses exception handling to catch and handle (i.e., deal with) any ZeroDivisionErrors and ValueErrors that arise—in this case, allowing the user to re-enter the input

In [ ]:
# dividebyzero.py
"""Simple exception handling example."""

while True:
    # attempt to convert and divide values
    try:
        number1 = int(input('Enter numerator: '))
        number2 = int(input('Enter denominator: '))
        result = number1 / number2
    except ValueError:  # tried to convert non-numeric value to int
        print('You must enter two integers\n')
    except ZeroDivisionError:  # denominator was 0
        print('Attempted to divide by zero\n')
    else:  # executes only if no exceptions occur
        print(f'{number1:.3f} / {number2:.3f} = {result:.3f}')
        break  # terminate the loop

try Clause
- try statements enable exception handling
- try clause followed by a suite of statements that might raise exceptions

except Clause
- try clause’s suite may be followed by one or more except clauses
- Known as exception handlers
- Each specifies the type of exception it handles

else Clause
- After the last except clause, an optional else clause specifies code that should execute only if the code in the try suite did not raise exceptions

Flow of Control for a ZeroDivisionError
- The point in the program at which an exception occurs is often referred to as the raise point
- When an exception occurs in a try suite, it terminates immediately
- If there are any except handlers following the try suite, program control transfers to the first one
- If there are no except handlers, a process called stack unwinding occurs (discussed later)
- When an except clause successfully handles the exception, program execution resumes with the finally clause (if there is one), then with the next statement after the try statement.

## 9.8.3 Catching Multiple Exceptions in One `except` Clause
* If several `except` suites are identical, you can catch those exception types by specifying them as a tuple in a _single_ `except` handler:
> ```python
except (type1, type2, …) as variable_name:
```
* `as` clause is optional
    * Typically, programs do not need to reference the caught exception object directly
    * Can use the variable in the `as` clause to reference the exception object in the `except` suite

## 9.8.4 What Exceptions Does a Function or Method Raise?
* Before using any function or method, read its online API documentation
    * Specifies what exceptions are thrown (if any) by the function or method 
    * Indicates reasons why such exceptions may occur
* Next, read the online API documentation for each exception type to see potential reasons why such an exception occurs

## 9.8.5 What Code Should Be Placed in a `try` Suite?
* For proper exception-handling granularity, each `try` statement should enclose a section of code small enough that, when an exception occurs, the specific context is known and the `except` handlers can process the exception properly
* If many statements in a `try` suite raise the same exception types, multiple `try` statements may be required to determine each exception’s context

# 9.9 finally Clause

### The `finally` Clause of the `try` Statement
* `try` statement may have a `finally` clause after any `except` clauses or the `else` clause
* **`finally`** clause is guaranteed to execute
    * In other languages, this makes the `finally` suite ideal for resource-deallocation code
    * In Python, we prefer the `with` statement for this purpose

In [5]:
try:
    print('try suite with no exceptions raised')
except:
    print('this will not execute')
else:
    print('else executes because no exceptions in the try suite')
finally:  
    print('finally always executes')

try suite with no exceptions raised
else executes because no exceptions in the try suite
finally always executes

In [6]:
try:
    print('try suite that raises an exception')
    int('hello')
    print('this will not execute')
except ValueError:
    print('a ValueError occurred')
else:
    print('else will not execute because an exception occurred')
finally:  
    print('finally always executes')

try suite that raises an exception
a ValueError occurred
finally always executes

### Combining `with` Statements and `try…except` Statements 
* Most resources that require explicit release, such as files, network connections and database connections, have potential exceptions associated with processing those resources
* _Robust_ file-processing code normally appears in a `try` suite containing a `with` statement to guarantee that the resource gets released

In [7]:
open('gradez.txt')  # non-existent file

FileNotFoundError: [Errno 2] No such file or directory: 'gradez.txt'

In [8]:
try:
    with open('gradez.txt', 'r') as accounts:
        print(f'{"ID":<3}{"Name":<7}{"Grade"}')
        for record in accounts:  
            student_id, name, grade = record.split()
            print(f'{student_id:<3}{name:<7}{grade}')
except FileNotFoundError:
    print('The file name you specified does not exist')

The file name you specified does not exist

# 9.10 Explicitly Raising an Exception
* Sometimes you might need to write functions that raise exceptions to inform callers of errors that occur
* **`raise`** statement explicitly raises an exception
> ```python
raise ExceptionClassName
```
* Creates an object of the specified exception class
* Exception class name may be followed by parentheses containing arguments to initialize the exception object—typically a custom error message string
* Code that raises an exception first should release any resources acquired before the exception occurred
* It’s recommended that you use one of Python’s many [built-in exception types](https://docs.python.org/3/library/exceptions.html)

# 9.11 (Optional) Stack Unwinding and Tracebacks
* Each exception object stores information indicating the precise series of function calls that led to the exception
* Helpful when debugging your code

In [9]:
def function1():
    function2()

In [10]:
def function2():
    raise Exception('An exception occurred')

* Calling `function1` results in the following traceback

In [11]:
function1()

Exception: An exception occurred

### Traceback Details
* Traceback shows the type of exception that occurred (`Exception`) followed by the complete function call stack that led to the raise point
* The stack’s bottom function call is listed _first_

### Stack Unwinding
* When an exception is _not_ caught in a given function, **stack unwinding** occurs
* For an **uncaught exception**, IPython displays the traceback
    * In interactive mode, IPython awaits your next input
    * In a typical script, the script would terminate

### Tip for Reading Tracebacks
* When reading a traceback, start from the end of the traceback and read the error message first
* Then, read upward through the traceback, looking for the first line that indicates code you wrote in your program
* Typically, this is the location in your code that led to the exception

### Exceptions in `finally` Suites
* Raising an exception in a `finally` suite can lead to subtle, hard-to-find problems
* A `finally` suite should always enclose in a `try` statement any code that may raise an exception

-- 10/24/25

## 9.12.1 Python Standard Library Module `csv` 
* **`csv` module** provides functions for working with CSV files

### Writing to a CSV File
* `csv` module’s documentation recommends opening CSV files with the additional keyword argument `newline=''` to ensure that newlines are processed properly

In [1]:
import csv

In [2]:
with open('accounts.csv', mode='w', newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.62])

* **`.csv` file extension** indicates a CSV-format file
* **`writer` function** returns an object that writes CSV data to the specified file object
* `writer`’s **`writerow` method** receives an iterable to store in the file
* By default, `writerow` delimits values with commas, but you can specify custom delimiters

In [6]:
!more accounts.csv

100,Jones,24.98
200,Doe,345.67
300,White,0.0
400,Stone,-42.16
500,Rich,224.62

* `writerow` calls above can be replaced with one **`writerows`** call that outputs a comma-separated list of iterables representing the records
* If you write data that contains commas in a given string, `writerow` encloses that string in double quotes to indicate a _single_ value

### Reading from a CSV File
* Read records from the file `accounts.csv` and display the contents of each record

In [7]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:  
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

* `csv` module’s **`reader` function** returns an object that reads CSV-format data from the specified file object
* Can iterate through the `reader` object one record of comma-delimited values at a time

## 9.12.2 Reading CSV Files into Pandas `DataFrames` 
* Here, we demo`nstrate pandas’ ability to load files in CSV format, then perform some basic data-analysis tasks

### Datasets
* Enormous variety of free datasets available online
* **Rdatasets repository** provides links to over 1100 free datasets in comma-separated values (CSV) format
> https://vincentarelbundock.github.io/Rdatasets/datasets.html
* **`pydataset` module** specifically for accessing Rdatasets
> https://github.com/iamaziz/PyDataset
* Another large source of datasets is
> https://github.com/awesomedata/awesome-public-datasets
* A commonly used machine-learning dataset for beginners is the **Titanic disaster dataset**

### Working with Locally Stored CSV Files 
* File we'll process in this example

In [17]:
!more accounts.csv

100,Jones,24.98
200,Doe,345.67
300,White,0.0
400,Stone,-42.16
500,Rich,224.62

* Load a CSV dataset into a `DataFrame` with the pandas function **`read_csv`**
* `names` argument specifies the `DataFrame`’s column names
    * Without this argument, `read_csv` assumes that the CSV file’s first row is a comma-delimited list of column names

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('accounts.csv', 
                 names=['account', 'name', 'balance'])

In [14]:
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62

* To save a `DataFrame` to a file using CSV format, call `DataFrame` method **`to_csv`**
* `index=False` indicates that the row names (`0`–`4` at the left of the `DataFrame`’s output above are not written to the file
* Resulting file contains the column names as the first row

In [15]:
df.to_csv('accounts_from_dataframe.csv', index=False)

In [19]:
!more accounts_from_dataframe.csv

account,name,balance
100,Jones,24.98
200,Doe,345.67
300,White,0.0
400,Stone,-42.16
500,Rich,224.62

In [ ]:
## 9.12.3 Reading the Titanic Disaster Dataset 
* Titanic disaster dataset is one of the most popular machine-learning datasets

In [ ]:
### Loading the Titanic Dataset via a URL
* Load the Titanic Disaster dataset directly from GitHub:

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/carData/TitanicSurvival.csv')

In [ ]:
### Viewing Some of the Rows in the Titanic Dataset
* Dataset contains over 1300 rows, each representing one passenger
* For large datasets, displaying a `DataFrame` shows only the first 30 rows, followed by “…” and the last 30 rows
* View the first five and last five rows with `DataFrame` methods **`head`** and **`tail`**
    * Both return five rows by default

In [ ]:
pd.set_option('precision', 2)  # format for floating-point values

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
* pandas adjusts each column’s width, based on the widest value in the column or based on the column name, whichever is wider
* The value in the age column of row `1305` is `NaN` (not a number), indicating a missing value in the dataset

In [ ]:
### Customizing the Column Names
* First column has a strange name (`'Unnamed: 0'`)
* Can clean that up by setting the column names

In [ ]:
titanic.columns = ['name', 'survived', 'sex', 'age', 'class']

In [ ]:
titanic.head()

In [ ]:
## 9.12.4 Simple Data Analysis with the Titanic Disaster Dataset 
* Can use pandas to perform some simple analysis.
* Calling `describe` on a `DataFrame` containing both numeric and non-numeric columns produces descriptive statistics _only for the numeric columns_
    * in this case, just the `age` column

In [ ]:
titanic.describe()

In [ ]:
## 9.12.4 Simple Data Analysis with the Titanic Disaster Dataset (cont.)
* Discrepancy in the `count` (`1046`) vs. the dataset’s number of rows (1309—the last row’s index was `1308` when we called `tail`)
    * Only `1046` (the `count` above) of the records contained an age
    * Rest were _missing_ and marked as `NaN`
* When performing calculations, Pandas _ignores missing data (`NaN`) by default_
* For the `1046` people with valid ages
    * average (`mean`) age was `29.88` years old
    * youngest passenger (`min`) was just over two months old (`0.17 * 12` is `2.04`)
    *  oldest (`max`) was 80
    * Median age was `28` (indicated by the `50%` quartile)
    * `25%` quartile is the median age in the first half of the passengers (sorted by age)
    * `75%` quartile is the median of the second half of passengers

In [ ]:
## 9.12.4 Simple Data Analysis with the Titanic Disaster Dataset (cont.)
* Let’s say you want to determine some statistics about people who survived
* Can compare the `survived` column to `'yes'` to get a new `Series` containing `True/False` values, then use `describe` to summarize the results

In [ ]:
(titanic.survived == 'yes').describe()

In [ ]:
* For non-numeric data, `describe` displays different descriptive statistics:
    * `count` is the total number of items in the result
    * `unique` is the number of unique values (`2`) in the result—`True` (survived) and `False` (died)
    * `top` is the most frequently occurring value in the result
    * `freq` is the number of occurrences of the `top` value

In [ ]:
## 9.12.5 Passenger Age Histogram
* Visualization helps you get to know your data
* Pandas has many built-in visualization capabilities that are implemented with Matplotlib
* To use them in Jupyter, first enable Matplotlib support 
    * "inline" used only in Jupyter, not IPython interactive mode

In [ ]:
%matplotlib inline

In [ ]:
* A histogram visualizes the distribution of numerical data over a range of values
* A `DataFrame`’s **`hist`** method analyzes each numerical column’s data and produces a separate histogram for each numerical column

In [ ]:
histogram = titanic.hist()