-- 10/27/25
# Lab4: Pandas and Files
- average of stock price (AND COUNTS of prices)

In [13]:
import pandas as pd # importing Pandas
import os # module in python Standard library to interact wit OS
os.getcwd() # got an error, so had to check the current directory then change it
os.chdir(r'C:\Users\zasuk\Downloads') # in JP use chdir instead of cd 
# "load up your dataset in it up into memory by opening the file in python with panda given the path on your harddrive"
data = pd.read_csv('oz_stocks.csv') # , names = Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
data = data[['Date', 'Close']] #instructed to only use CLOSE value with every date 
# "What you want to do now, is to use  datetimeLinks to an external site.. What date time will do is take a string representation and convert that into a datetime representation."
# converting to datetime, got a warning that it's modifying the VIEW of data not the original data, will ignore
data['Date'] = pd.to_datetime(data['Date'])
data['Year'] = data['Date'].dt.year # "we only need a YEAR not the whole date;" won't overwrite, will create Year column  
result = pd.DataFrame(data['Year'].unique(), columns=['Year']) # Generate a new data frame with only the unique years as it's values
data

           Date       Close  Year
0    1986-03-13    0.061491  1986
1    1986-03-14    0.063687  1986
2    1986-03-17    0.064785  1986
3    1986-03-18    0.063138  1986
4    1986-03-19    0.062040  1986
...         ...         ...   ...
8951 2021-09-16  305.220001  2021
8952 2021-09-17  299.869995  2021
8953 2021-09-20  294.299988  2021
8954 2021-09-21  294.799988  2021
8955 2021-09-22  298.579987  2021

[8956 rows x 3 columns]

In [21]:
result['Average'] = 0.0 # creatig avg column with zeros 
result['Count'] = 0 # tasked to find counts as well. most likely a type but will add just in case 
# loop to iterate and caluclate average 
for index, value in result.iterrows(): # iterrows() method to iterate over row in the result dataframe 
    year = value['Year']  # year column assinged to year var 
    avg = data[data['Year'] == year]['Close'].mean().round(2) # I iwill round here to mkae it look a bit better THIS IS THE PRICE. 
    #len counts number of rows in the dataframe
    count = len(data[data['Year'] == year]) # i am adding count here althoug it's a bit silly because "Now, for every year in your result reference find the average number of stock prices in your data"
    result.loc[result['Year'] == year, ['Average', 'Count']] = [avg, count]#updating columns in the result 
print(result) # rounded since it's a price

    Year  Average  Count
0   1986     0.07    204
1   1987     0.22    253
2   1988     0.24    253
3   1989     0.28    252
4   1990     0.55    253
5   1991     1.02    253
6   1992     1.58    254
7   1993     1.65    253
8   1994     2.03    252
9   1995     3.28    252
10  1996     4.77    254
11  1997     9.56    253
12  1998    15.58    252
13  1999    27.68    252
14  2000    24.10    252
15  2001    19.78    248
16  2002    17.25    252
17  2003    16.58    252
18  2004    17.59    252
19  2005    18.57    252
20  2006    19.12    251
21  2007    22.46    251
22  2008    19.93    253
23  2009    17.61    252
24  2010    21.14    252
25  2011    20.84    252
26  2012    24.51    250
27  2013    27.53    252
28  2014    37.02    252
29  2015    41.82    252
30  2016    50.83    252
31  2017    67.88    251
32  2018    97.10    251
33  2019   127.35    252
34  2020   190.83    253
35  2021   257.70    182

In [22]:
result.to_csv('lab4oz.csv') # saving as csv as per instruciton.