9/9/2025

# Appending to a List with +=¶

- Lists can grow dynamically to accommodate new items.

In [4]:
oz = []

for x in range(1,8):
    oz += [x]
oz

[1, 2, 3, 4, 5, 6, 7]

# Using for and range to Access List Indices and Values¶

In [5]:
list1 = [10, 20, 30]
list2 = [40, 50]
concatenated_list = list1 + list2
for i in range(len(concatenated_list)):  
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

5.3 Tuples

In [8]:
student_tuple = ()
student_tuple = 'John', 'Green', 3.3
student_tuple

('John', 'Green', 3.3)

# Appending Tuples to Lists

In [6]:
numbers = [1, 2, 3, 4, 5]
numbers += (6, 7)
numbers

[1, 2, 3, 4, 5, 6, 7]

# Tuples are immutable but CAN contain mutable OBJECTS 
- for example, a tuple can contain a list that can be changed

In [7]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])
student_tuple[2][1] = 85
student_tuple

('Amanda', 'Blue', [98, 85, 87])