********************************* 9/9/2025 *********************************

# Appending to a List with +=

- Lists can grow dynamically to accommodate new items.

In [4]:
oz = []

for x in range(1,8):
    oz += [x]
oz

[1, 2, 3, 4, 5, 6, 7]

# Using for and range to Access List Indices and Values¶

In [5]:
list1 = [10, 20, 30]
list2 = [40, 50]
concatenated_list = list1 + list2
for i in range(len(concatenated_list)):  
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

5.3 Tuples

In [8]:
student_tuple = ()
student_tuple = 'John', 'Green', 3.3
student_tuple

('John', 'Green', 3.3)

# Appending Tuples to Lists

In [6]:
numbers = [1, 2, 3, 4, 5]
numbers += (6, 7)
numbers

[1, 2, 3, 4, 5, 6, 7]

# Tuples are immutable but CAN contain mutable OBJECTS 
- for example, a tuple can contain a list that can be changed

In [7]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])
student_tuple[2][1] = 85
student_tuple

('Amanda', 'Blue', [98, 85, 87])

********************************* 9/16/25 *********************************

# 5.4 Unpacking Sequences

### Can unpack any sequence’s elements by assigning the sequence to a comma-separated list of variables (of the appropriate length).

In [5]:
studenttuple = ('Oleg', [98, 85, 87])
firstname, grades = studenttuple
firstname
first, second = 'hi'
print(f'{first}  {second}')

h  i

In [6]:
number1, number2, number3 = [2, 3, 5]
print(f'{number1}  {number2}  {number3}')

2  3  5

In [7]:
number1, number2, number3 = range(10, 40, 10)
print(f'{number1}  {number2}  {number3}')

10  20  30

## Swapping Values Via Packing and Unpacking

In [8]:
number1 = 99
number2 = 22
number1, number2 = (number2, number1)
print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

## Accessing Indices and Values Safely with Built-in Function enumerate
- ### Preferred way to access an element’s index and value is the built-in function enumerate.
- ### Receives an iterable and creates an iterator that, for each element, returns a tuple containing the element’s index and value.
- ### Built-in function list creates a list from a sequence.

In [9]:
colors = ['red', 'orange', 'yellow']
list(enumerate(colors)) # returns a tuple for each element of the list

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [11]:
tuple(enumerate(colors)) # Built-in function tuple creates a tuple from a sequence.

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [12]:
for index, value in enumerate(colors): 
    print(f'{index}: {value}')

0: red
1: orange
2: yellow

# Create a Primite Bar Chart

In [15]:
numbers = [34,5,2,22]
print(f'Index{"Value":>8}   Bar')
'''
>8 is a format specifier used to align and pad the string "Value" within 8 character spaces.
The > means right-align the text.
The 8 means the total width should be 8 characters.
'''

for index, value in enumerate(numbers):
    print(f'{index: > 5}{value: >8} {"*" * value}')

Index   Value   Bar
    0      34 **********************************
    1       5 *****
    2       2 **
    3      22 **********************

# 5.5 Sequence Slicing 

- Can slice sequences to create new sequences of the same type containing subsets of the original elements.
- Slice operations that do not modify a sequence work identically for lists, tuples and strings.

> start → index where the slice begins (inclusive)
 
> stop → index where the slice ends (exclusive)

In [16]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers[2:6]

[5, 7, 11, 13]

In [17]:
numbers[:6]

[2, 3, 5, 7, 11, 13]

In [18]:
numbers[6:]

[17, 19]

In [19]:
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

Though slices create new objects, slices make shallow copies of the elements.
In the snippet above, the new list’s elements refer to the same objects as the original list’s elements.

## Slicing with Steps
 - will skip x number of elements

In [20]:
numbers[::2]

[2, 5, 11, 17]

In [24]:
numbers[1:4:2] # from index 1 to index 3, skipping 2

[3, 7]

In [25]:
numbers[-1:-9:-1]

[19, 17, 13, 11, 7, 5, 3, 2]

## Modifying Lists Via Slices

### Can modify a list by assigning to a slice.

In [27]:
numbers[0:3] = ['two', 'three', 'five']
numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [28]:
numbers[0:3] = []
numbers

[7, 11, 13, 17, 19]

In [30]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers[::2] = [100, 100, 100, 100] # assigning 100 to each odd element
numbers

[100, 3, 100, 7, 100, 13, 100, 19]

## How objects are stored in memory:

In [31]:
# get id of the object 
id(numbers)

2845172574464

In [32]:
# modifying existing object; the object is the same in the memory 
numbers[:] = [] # Clear contents of the existing list
numbers 
id(numbers)

2845172574464

In [34]:
# assigning new ojects to a variable creates this new object 
# reassigning the variable to a new object
numbers = [] # Assign a new list object to the variable
numbers
id(numbers)
# When you assign a new object to a variable, the original object will be garbage collected if no other variables refer to it.

2845172579456

# 5.6 del Statement

In [36]:
numbers = list(range(0, 10))
del numbers[-1] # deleting last element 
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### Deleting a Slice from a List

In [38]:
del numbers[0:2] # start is inclusive, end is exclusive 
numbers

[4, 5, 6, 7, 8]

In [39]:
del numbers[::2]
numbers

[5, 7]

## Deleting a Slice Representing the Entire List

In [40]:
del numbers[:]
numbers

[]

## Deleting a Variable from the Current Session

In [41]:
del numbers 
numbers

NameError: name 'numbers' is not defined

# 5.7 Passing LIsts to Functions

In [51]:
def modify(items):
    """Multiples element values in titems by 2"""
    for i in range(len(items)): # range(len(items)) gives you the indexes: 0, 1, 2, ...
        items[i] *=2 # items[i] *= 2 modifies each element in-place using its index.
numbers = [10,3,7,9]
modify(numbers)
numbers

[20, 6, 14, 18]

In [49]:
## alternative to above
def modify(items):
    """Multiples element values in titems by 2"""
    for i, value in enumerate(items): # range(len(items)) gives you the indexes: 0, 1, 2, ...
        items[i] *=2 # items[i] *= 2 modifies each element in-place using its index.
numbers = [10,3,7,9]
modify(numbers)
numbers

[20, 6, 14, 18]

In [53]:
# a simple loop will not change the list itself, it just reasigns the vlaues within the loop 
numbers = [10, 3, 7]

for i in numbers:
    i *= 2
    print(i)       # prints 20, 6, 14

print(numbers)     # still [10, 3, 7]

20
6
14
[10, 3, 7]

## Passing a Tuple to a Function
- When you pass a tuple to a function, attempting to modify the tuple’s immutable elements results in a **TypeError**.

In [ ]:
numbers_tuple = (10, 20, 30)
numbers_tuple
modify_elements(numbers_tuple)

---------------------------------- 9/18/25 -----------------
# 5.8 Sorting Lists

- Sorting a List in Ascending Order
- List method sort modifies a list.

In [2]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Sorting a List in Descending Order

In [ ]:
numbers.sort(reverse=True)
numbers

# Built-In Function sorted
- Built-in function sorted returns a new list containing the sorted elements of its argument sequence—the original sequence is unmodified.

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
ascending_numbers = sorted(numbers)
ascending_numbers
numbers

In [ ]:
letters = 'fadgchjebi'
ascending_letters = sorted(letters)
ascending_letters

# 5.9 Searching Sequences¶
Searching is the process of locating a particular key value.

### List Method index
Searches through a list from index 0 and returns the index of the first element that matches the search key.
ValueError if the value is not in the list.

In [6]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]
numbers.index(5)

6

## Specifying the Starting Index of a Search
- list.index(element, start_index, end_index)

In [7]:
numbers *= 2
numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [8]:
numbers.index(5, 7)

14

## Specifying the Starting and Ending Indices of a Search¶
- Look for the value 7 in the range of elements with indices 0 through 3.

In [9]:
numbers.index(7, 0, 4)

1

# Operators in and not in

- Operator in tests whether its right operand’s iterable contains the left operand’s value.

In [10]:
1000 in numbers

True

In [11]:
5 not in numbers

False

In [12]:
key = 1000
if key in numbers:
    print(f'found {key} at index {numbers.index(search_key)}')
else:
    print(f'{key} not found')

1000 not found

-- ************************** 9/19/25 *************************

# 5.10 Other List Methods

In [3]:
words = ['hacia','toward','gratis','free','de nuevo - again']

# ******************** INSERTING 

words.insert(1,'afortunadamente - fortunately')
words

['hacia',
 'afortunadamente - fortunately',
 'toward',
 'gratis',
 'free',
 'de nuevo - again']

### Append 
- it ads the entire object to the end of the list
- if there are 2+ elements that are appended, they will be added as ONE SINGLE OBJECT within list object

In [5]:
words.append('el sotano - basement')
words
words.append(['red','green'])
words

['hacia',
 'afortunadamente - fortunately',
 'toward',
 'gratis',
 'free',
 'de nuevo - again',
 'el sotano - basement',
 'el sotano - basement',
 ['red', 'green']]

### Extend 
- Adds elements of a sequence individually
- color_names.extend(['indigo', 'violet']) will be added individually
- works like:
              for color in ['indigo', 'violet']:
                color_names.append(color)

In [7]:
words.extend(['la salida','la muchedumbre - crowd', 'la hora pico'])
words

['hacia',
 'afortunadamente - fortunately',
 'toward',
 'gratis',
 'free',
 'de nuevo - again',
 'el sotano - basement',
 'el sotano - basement',
 ['red', 'green'],
 'la salida',
 'la muchedumbre - crowd',
 'la hora pico']

In [8]:
sample_list = []
s = 'abc'
sample_list.extend(s)
sample_list

['a', 'b', 'c']

### Removing the First Occurrence of an Element in a List

In [9]:
words.remove('la salida')
words

['hacia',
 'afortunadamente - fortunately',
 'toward',
 'gratis',
 'free',
 'de nuevo - again',
 'el sotano - basement',
 'el sotano - basement',
 ['red', 'green'],
 'la muchedumbre - crowd',
 'la hora pico']

### Emptying a list

In [10]:
sample_list.clear()
sample_list

[]

### Counting the Number of Occurrences of an Item
- use method .count()

In [14]:
responses = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3, 
             1, 4, 3, 3, 3, 2, 3, 3, 2, 2]
for i in range(1,6):
    print(f'{i} appears {responses.count(i)} times')

1 appears 3 times
2 appears 5 times
3 appears 8 times
4 appears 2 times
5 appears 2 times

### Reversing a List’s Elements
- Method reverse reverses the contents of a list in place.

In [15]:
color_names = ['red', 'orange', 'yellow', 'green', 'blue']
color_names.reverse()
color_names

['blue', 'green', 'yellow', 'orange', 'red']

### Copying a List
- Method copy returns a new list containing a shallow copy.

In [17]:
copied_list = color_names.copy()
['blue', 'green', 'yellow', 'orange', 'red']

['blue', 'green', 'yellow', 'orange', 'red']

# 5.11 Simulating Stacks with Lists

- Python does not have a built-in stack type.
- Can think of a stack as a constrained list.
- Push using list method append.
- Pop using list method pop with no arguments to get items in last-in, first-out (LIFO) order.

In [1]:
stack = []
stack.append('red')
stack

['red']

In [3]:
stack.append('green')
stack

['red', 'green', 'green']

In [4]:
stack.pop()

'green'

In [5]:
stack

['red', 'green']

5.12 List Comprehensions
- Concise way to create new lists.
- Replaces using for to iterate over a sequence and create a list.

In [6]:
list1 = []
for item in range(1, 6):
    list1.append(item)
list1

[1, 2, 3, 4, 5]

Using a List Comprehension to Create a List of Integers

In [10]:
list2 = [item for item in range(1,6)]
list2

#for clause iterates over the sequence produced by range(1, 6).
#For each item, the list comprehension evaluates the expression to the left of the for clause and places the expression’s value in the new list.

[1, 2, 3, 4, 5]

## Mapping: Performing Operations in a List Comprehension’s Expression
- Mapping is a common functional-style programming operation that produces a result with the same number of elements as the original data being mapped.

In [12]:
list3 = [item ** 3 for item in range(1,6)]
list3

[1, 8, 27, 64, 125]

## Filtering: List Comprehensions with if Clauses
- Another common functional-style programming operation is filtering elements to select only those that match a condition.
- Typically produces a list with fewer elements than the data being filtered.

In [13]:
list4 = [item for item in range(1,6) if item%2 == 0]
list4

[2, 4]

## List Comprehension That Processes Another List’s Elements
- The for clause can process any iterable.

In [15]:
colors = ['llegar a tiempo', 'pensar en future', 'la hora pico','afortunadamente', 'hacia', 'gratis', 'de nuevo', "el so'tano", 'la salida', 'la muchedumbre']
colors2 = [item.upper() for item in colors]
colors2

['LLEGAR A TIEMPO',
 'PENSAR EN FUTURE',
 'LA HORA PICO',
 'AFORTUNADAMENTE',
 'HACIA',
 'GRATIS',
 'DE NUEVO',
 "EL SO'TANO",
 'LA SALIDA',
 'LA MUCHEDUMBRE']

In [16]:
colors

['llegar a tiempo',
 'pensar en future',
 'la hora pico',
 'afortunadamente',
 'hacia',
 'gratis',
 'de nuevo',
 "el so'tano",
 'la salida',
 'la muchedumbre']

## 5.13 Generator Expressions
- Like list comprehensions, but create iterable generator objects that produce values on demand.
- Known as lazy evaluation.
- For large numbers of items, creating lists can take substantial memory and time.
- Generator expressions can reduce memory consumption and improve performance if the whole list is not needed at once.

In [23]:
number = ['contrive', 'credence', 'nefarious', 'ominous', 'change managmenet', 'perpetuate', 'belligerent']
for value in (x.upper() for x in number if x[0] != 'c' and len(x) > 6):
    print(value, end='  ') # end the printed output with two spaces instead of a newline.

NEFARIOUS  OMINOUS  PERPETUATE  BELLIGERENT

In [26]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
# squeres of odds 

numbers = [1, 2, 3, 4, 5]

# Generator --- must use funciton next (built-in) to get the next object
squares_of_odds = (x ** 2 for x in numbers if x % 2 != 0)
print(next(squares_of_odds))  # Output: 1
print(next(squares_of_odds))  # Output: 9

# List Comprehension 
squares = [x ** 2 for x in numbers if x % 2 != 0]
print(squares)  # Output: [1, 9, 25]

1
9
[1, 9, 25]

## 5.14 Filter, Map and Reduce
 - Built-in filter and map functions also perform filtering and mapping.

### Filtering a Sequence’s Values with the Built-In filter Function

- Functions are objects that you can assign to variables, pass to other functions and return from functions.
- Functions that receive other functions as arguments are a functional-style capability called higher-order functions.
- filter’s first argument must be a function that receives one argument and returns True if the value should be included in the result.
- Higher-order functions may also return a function as a result.
- filter returns an iterator, so filter’s results are not produced until you iterate through them—lazy evaluation.

In [38]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
def oddn(x): 
    #return true if x is odd 
    return x%2 != 0 
list(filter(oddn, numbers)) # filters odd numbers based on the funciton aobve

[3, 7, 1, 9, 5]

In [39]:
[item for item in numbers if oddn(item)]

[3, 7, 1, 9, 5]

### Using a lambda Rather than a Function
- For simple functions like is_odd that return only a single expression’s value, you can use a lambda expression (or simply a lambda) to define the function inline.

- lambda parameters: expression

In [40]:
list(filter(lambda x: x % 2 != 0, numbers))
           # sames as : 
            # def some_function(x):
            # return x % 2 != 0

[3, 7, 1, 9, 5]

### Mapping a Sequence’s Values to New Values

- Function map’s first argument is a function that receives one value and returns a new value.

In [41]:
list(map(lambda x: x** 2, numbers))

# same as : 
for x in numbers:
    squares.append(x ** 2)

print(squares)

[1, 9, 25, 100, 9, 49, 1, 81, 16, 4, 64, 25, 36, 100, 9, 49, 1, 81, 16, 4, 64, 25, 36, 100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [ ]:
# - equivalent list comprehension:

In [42]:
[item ** 2 for item in numbers]

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

### Combining filter and map

In [44]:
list(map(lambda x: x ** 2, 
         filter(lambda x: x % 2 != 0, numbers)))

[9, 49, 1, 81, 25]

In [43]:
#Equivalent list comprehension:
[x ** 2 for x in numbers if x % 2 != 0]

[9, 49, 1, 81, 25]

### Reduction: Totaling the Elements of a Sequence with sum¶
Reductions process a sequence’s elements into a single value.
E.g., len, sum, min and max.
Can create custom reductions using the functools module’s reduce function.

In [45]:
max(numbers)

10

In [46]:
sum(numbers)

55

--------------------------- 9/22/2025 -------------------------------
### 5.15 Other Sequence Processing Functions

In [3]:
- 'R' “comes after” 'o' in the alphabet, so you might expect 'Red' to be less than 'orange' and the condition above to be False.
- Strings are compared by their characters’ underlying numerical values, and lowercase letters have higher numerical values than uppercase letters.
- Confirm with built-in function ord:

SyntaxError: invalid character '“' (U+201C) (2544725778.py, line 1)

In [1]:
'Red' < 'orange'

True

In [2]:
'red' < 'orange'

False

In [ ]:
ord('R')

In [4]:
ord('o')

111

- Assume that we’d like to determine the minimum and maximum strings using alphabetical order.
- Can specify sort order with the key argument.

In [5]:
colors = ['Red', 'orange', 'Yellow', 'green', 'Blue']

In [6]:
# --------- The key is a function that transforms each element before comparison. ---
min(colors, key=lambda s: s.lower())

'Blue'

In [7]:
max(colors, key=lambda s: s.lower())

'Yellow'

In [8]:
# -------- EXAMPLE WITHOUT LAMBDA ----------
def ignorecase(s):
    return s.lower()

min(colors, key=ignorecase)

'Blue'

#### Iterating Backwards Through a Sequence

In [9]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [18]:
rev = lambda _: list(reversed(numbers)) # i would be unused here and do nothing, so used _
print(rev(None))

[6, 5, 8, 2, 4, 9, 1, 7, 3, 10]

In [21]:
def revo():
    return list(reversed(numbers))
print(revo())

[6, 5, 8, 2, 4, 9, 1, 7, 3, 10]

In [23]:
reve = [i ** 2 for i in reversed(numbers)] # This is a list comprehension — a concise way to create a new list by transforming items from an iterable.
reve

[36, 25, 64, 4, 16, 81, 1, 49, 9, 100]

In [28]:
Re = [i for i in reversed(numbers)] # this one is very good 
Re

[6, 5, 8, 2, 4, 9, 1, 7, 3, 10]

#### Combining Iterables into Tuples of Corresponding Elements

- Built-in function zip enables you to iterate over multiple iterables of data at the same time.
- Receives any number of iterables and returns an iterator that produces tuples containing the elements at the same index in each.
- Shortest argument determines the number of tuples produced.

In [30]:
names = ['Bob', 'Sue', 'Amanda']
grade_point_averages = [3.5, 4.0, 3.75] 
for name, gpa in zip(names, grade_point_averages):
    print(f'Name ={name}; GPA = {gpa}')

Name =Bob; GPA = 3.5
Name =Sue; GPA = 4.0
Name =Amanda; GPA = 3.75