********************************* 9/9/2025 *********************************

# Appending to a List with +=¶

- Lists can grow dynamically to accommodate new items.

In [4]:
oz = []

for x in range(1,8):
    oz += [x]
oz

[1, 2, 3, 4, 5, 6, 7]

# Using for and range to Access List Indices and Values¶

In [5]:
list1 = [10, 20, 30]
list2 = [40, 50]
concatenated_list = list1 + list2
for i in range(len(concatenated_list)):  
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

5.3 Tuples

In [8]:
student_tuple = ()
student_tuple = 'John', 'Green', 3.3
student_tuple

('John', 'Green', 3.3)

# Appending Tuples to Lists

In [6]:
numbers = [1, 2, 3, 4, 5]
numbers += (6, 7)
numbers

[1, 2, 3, 4, 5, 6, 7]

# Tuples are immutable but CAN contain mutable OBJECTS 
- for example, a tuple can contain a list that can be changed

In [7]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])
student_tuple[2][1] = 85
student_tuple

('Amanda', 'Blue', [98, 85, 87])

********************************* 9/16/25 *********************************

# 5.4 Unpacking Sequences

### Can unpack any sequence’s elements by assigning the sequence to a comma-separated list of variables (of the appropriate length).

In [5]:
studenttuple = ('Oleg', [98, 85, 87])
firstname, grades = studenttuple
firstname
first, second = 'hi'
print(f'{first}  {second}')

h  i

In [6]:
number1, number2, number3 = [2, 3, 5]
print(f'{number1}  {number2}  {number3}')

2  3  5

In [7]:
number1, number2, number3 = range(10, 40, 10)
print(f'{number1}  {number2}  {number3}')

10  20  30

## Swapping Values Via Packing and Unpacking

In [8]:
number1 = 99
number2 = 22
number1, number2 = (number2, number1)
print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

## Accessing Indices and Values Safely with Built-in Function enumerate
- ### Preferred way to access an element’s index and value is the built-in function enumerate.
- ### Receives an iterable and creates an iterator that, for each element, returns a tuple containing the element’s index and value.
- ### Built-in function list creates a list from a sequence.

In [9]:
colors = ['red', 'orange', 'yellow']
list(enumerate(colors)) # returns a tuple for each element of the list

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [11]:
tuple(enumerate(colors)) # Built-in function tuple creates a tuple from a sequence.

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [12]:
for index, value in enumerate(colors): 
    print(f'{index}: {value}')

0: red
1: orange
2: yellow

# Create a Primite Bar Chart

In [15]:
numbers = [34,5,2,22]
print(f'Index{"Value":>8}   Bar')
'''
>8 is a format specifier used to align and pad the string "Value" within 8 character spaces.
The > means right-align the text.
The 8 means the total width should be 8 characters.
'''

for index, value in enumerate(numbers):
    print(f'{index: > 5}{value: >8} {"*" * value}')

Index   Value   Bar
    0      34 **********************************
    1       5 *****
    2       2 **
    3      22 **********************

# 5.5 Sequence Slicing 

- Can slice sequences to create new sequences of the same type containing subsets of the original elements.
- Slice operations that do not modify a sequence work identically for lists, tuples and strings.

> start → index where the slice begins (inclusive)
 
> stop → index where the slice ends (exclusive)

In [16]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers[2:6]

[5, 7, 11, 13]

In [17]:
numbers[:6]

[2, 3, 5, 7, 11, 13]

In [18]:
numbers[6:]

[17, 19]

In [19]:
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

Though slices create new objects, slices make shallow copies of the elements.
In the snippet above, the new list’s elements refer to the same objects as the original list’s elements.

## Slicing with Steps
 - will skip x number of elements

In [20]:
numbers[::2]

[2, 5, 11, 17]

In [24]:
numbers[1:4:2] # from index 1 to index 3, skipping 2

[3, 7]

In [25]:
numbers[-1:-9:-1]

[19, 17, 13, 11, 7, 5, 3, 2]

## Modifying Lists Via Slices

### Can modify a list by assigning to a slice.

In [27]:
numbers[0:3] = ['two', 'three', 'five']
numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [28]:
numbers[0:3] = []
numbers

[7, 11, 13, 17, 19]

In [30]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers[::2] = [100, 100, 100, 100] # assigning 100 to each odd element
numbers

[100, 3, 100, 7, 100, 13, 100, 19]

## How objects are stored in memory:

In [31]:
# get id of the object 
id(numbers)

2845172574464

In [32]:
# modifying existing object; the object is the same in the memory 
numbers[:] = [] # Clear contents of the existing list
numbers 
id(numbers)

2845172574464

In [34]:
# assigning new ojects to a variable creates this new object 
# reassigning the variable to a new object
numbers = [] # Assign a new list object to the variable
numbers
id(numbers)
# When you assign a new object to a variable, the original object will be garbage collected if no other variables refer to it.

2845172579456

# 5.6 del Statement

In [36]:
numbers = list(range(0, 10))
del numbers[-1] # deleting last element 
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### Deleting a Slice from a List

In [38]:
del numbers[0:2] # start is inclusive, end is exclusive 
numbers

[4, 5, 6, 7, 8]

In [39]:
del numbers[::2]
numbers

[5, 7]

## Deleting a Slice Representing the Entire List

In [40]:
del numbers[:]
numbers

[]

## Deleting a Variable from the Current Session

In [41]:
del numbers 
numbers

NameError: name 'numbers' is not defined

# 5.7 Passing LIsts to Functions

In [51]:
def modify(items):
    """Multiples element values in titems by 2"""
    for i in range(len(items)): # range(len(items)) gives you the indexes: 0, 1, 2, ...
        items[i] *=2 # items[i] *= 2 modifies each element in-place using its index.
numbers = [10,3,7,9]
modify(numbers)
numbers

[20, 6, 14, 18]

In [49]:
## alternative to above
def modify(items):
    """Multiples element values in titems by 2"""
    for i, value in enumerate(items): # range(len(items)) gives you the indexes: 0, 1, 2, ...
        items[i] *=2 # items[i] *= 2 modifies each element in-place using its index.
numbers = [10,3,7,9]
modify(numbers)
numbers

[20, 6, 14, 18]

In [53]:
# a simple loop will not change the list itself, it just reasigns the vlaues within the loop 
numbers = [10, 3, 7]

for i in numbers:
    i *= 2
    print(i)       # prints 20, 6, 14

print(numbers)     # still [10, 3, 7]

20
6
14
[10, 3, 7]

## Passing a Tuple to a Function
- When you pass a tuple to a function, attempting to modify the tuple’s immutable elements results in a **TypeError**.

In [ ]:
numbers_tuple = (10, 20, 30)
numbers_tuple
modify_elements(numbers_tuple)

---------------------------------- 9/18/25 -----------------
# 5.8 Sorting Lists

- Sorting a List in Ascending Order
- List method sort modifies a list.

In [2]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Sorting a List in Descending Order

In [ ]:
numbers.sort(reverse=True)
numbers

# Built-In Function sorted
- Built-in function sorted returns a new list containing the sorted elements of its argument sequence—the original sequence is unmodified.

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
ascending_numbers = sorted(numbers)
ascending_numbers
numbers

In [ ]:
letters = 'fadgchjebi'
ascending_letters = sorted(letters)
ascending_letters

# 5.9 Searching Sequences¶
Searching is the process of locating a particular key value.

### List Method index
Searches through a list from index 0 and returns the index of the first element that matches the search key.
ValueError if the value is not in the list.

In [6]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]
numbers.index(5)

6

## Specifying the Starting Index of a Search
- list.index(element, start_index, end_index)

In [7]:
numbers *= 2
numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [8]:
numbers.index(5, 7)

14

## Specifying the Starting and Ending Indices of a Search¶
- Look for the value 7 in the range of elements with indices 0 through 3.

In [9]:
numbers.index(7, 0, 4)

1

# Operators in and not in

- Operator in tests whether its right operand’s iterable contains the left operand’s value.

In [10]:
1000 in numbers

True

In [11]:
5 not in numbers

False

In [12]:
key = 1000
if key in numbers:
    print(f'found {key} at index {numbers.index(search_key)}')
else:
    print(f'{key} not found')

1000 not found