**COLLECTIONS METHODS:**

**1. len()**
Returns the number of items in the collection.

In [1]:
lst = [1, 2, 3]
print(len(lst))  # Output: 3

3

2. **in**
Checks if an element is present in the collection.

In [2]:
lst = [1, 2, 3]
print(2 in lst)  # Output: True

True

**3. clear()**
Removes all elements from the collection.

In [3]:
lst = [1, 2, 3]
lst.clear()
print(lst)  # Output: []

[]

4. **copy()**
Creates a shallow copy of the collection

In [4]:
lst = [1, 2, 3]
lst_copy = lst.copy()
print(lst_copy)  # Output: [1, 2, 3]

[1, 2, 3]

5. **add()** (for Sets and Dictionaries)
Adds an element to the collection (sets or dictionaries).

In [5]:
s = {1, 2, 3}
s.add(4)
print(s)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

6. **remove**()
Removes an element from the collection. Raises a ValueError if the element is not found

In [6]:
lst = [1, 2, 3]
lst.remove(2)
print(lst)  # Output: [1, 3]

[1, 3]

7. **discard**() (for Sets and Dictionaries)
Removes an element if it exists. Does not raise an error if the element is not found (for sets).

In [7]:
s = {1, 2, 3}
s.discard(2)
print(s)  # Output: {1, 3}

{1, 3}

8. **pop()**
Removes and returns an arbitrary element from the collection (for sets) or the last element (for lists).

In [8]:
lst = [1, 2, 3]
print(lst.pop())  # Output: 3
print(lst)  # Output: [1, 2]

3
[1, 2]

In [9]:
s = {1, 2, 3}
print(s.pop())  # Output: Any element (e.g., 1)

1

9.** update() **(for Sets and Dictionaries)
Adds elements from another collection (e.g., list, set) to the current collection.

In [10]:
s = {1, 2}
s.update([3, 4])
print(s)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [ ]:
d = {'a': 1}
d.update({'b': 2})
print(d)  # Output: {'a': 1, 'b': 2}

10. **popitem**() (for Dictionaries)
Removes and returns an arbitrary (key, value) pair from the dictionary.

In [11]:
d = {'a': 1, 'b': 2}
print(d.popitem())  # Output: ('b', 2)
print(d)  # Output: {'a': 1}

('b', 2)
{'a': 1}

11. **keys**() (for Dictionaries)
Returns a view object of all the keys in a dictionary.

In [13]:
d = {'a': 1, 'b': 2}
print(d.keys())  # Output: dict_keys(['a', 'b'])

dict_keys(['a', 'b'])

12. **values**() (for Dictionaries)
Returns a view object of all the values in a dictionary.

In [14]:
d = {'a': 1, 'b': 2}
print(d.values())  # Output: dict_values([1, 2])

dict_values([1, 2])

13. **items**() (for Dictionaries)
Returns a view object of all key-value pairs in a dictionary.

In [15]:
d = {'a': 1, 'b': 2}
print(d.items())  # Output: dict_items([('a', 1), ('b', 2)])

dict_items([('a', 1), ('b', 2)])

14. **get**() (for Dictionaries)
Retrieves the value for a given key. If the key is not found, returns None or a default value.

In [16]:
d = {'a': 1, 'b': 2}
print(d.get('a'))  # Output: 1
print(d.get('c', 'Not Found'))  # Output: 'Not Found'

1
Not Found

15. **setdefault**() (for Dictionaries)
Returns the value if the key exists. If not, inserts the key with a specified value and returns that value.

In [17]:
d = {'a': 1}
print(d.setdefault('b', 2))  # Output: 2
print(d)  # Output: {'a': 1, 'b': 2}

2
{'a': 1, 'b': 2}

16. **reverse**() (for Lists)
Reverses the order of items in the list in place.

In [ ]:
lst = [1, 2, 3]
lst.reverse()
print(lst)  # Output: [3, 2, 1]

17. **sort**() (for Lists)
Sorts the list in place.

In [ ]:
lst = [3, 1, 2]
lst.sort()
print(lst)  # Output: [1, 2, 3]

18. **extend**() (for Lists)
Adds all elements of an iterable (e.g., list, set) to the list

In [ ]:
lst = [1, 2]
lst.extend([3, 4])
print(lst)  # Output: [1, 2, 3, 4]

19. **count**() (for Lists)
Returns the number of occurrences of a value in the collection

In [ ]:
lst = [1, 2, 2, 3]
print(lst.count(2))  # Output: 2