#    COLLECTIONS:
4 types of collection data structures:
- List is an ordered and mutable collection that can contain duplicate elements.
- Tuple is an ordered and immutable collection that can also contain duplicate elements.
- Set is an unordered, immutable* collection with no duplicate elements and no specific indexing.
- Dictionary is an ordered** and mutable collection that does not allow duplicate elements.

# Lists:
- ordered,
- changeable,
- allow duplicate values.
They are objects with the data type = list

In [1]:
thislist = ["Oleg", "Mike", "John"]
print(thislist)

['Oleg', 'Mike', 'John']

In [2]:
thislist = ["Oleg", "Mike", "John"]
print(len(thislist))

3

In [3]:
mylist = ["Oleg", "Mike", "John"]
print(type(mylist)) # datatype is list

<class 'list'>

In [5]:
atuple = ("Oleg", "Mike", "John")
print(atuple)
convertToList = list(atuple) # note the double round-brackets
print(convertToList)

('Oleg', 'Mike', 'John')
['Oleg', 'Mike', 'John']

***Range of Indexes: *** <br>
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [6]:
thislist = ["Oleg", "Positive", "Winner", "Happy", "Smart", "Joy", "Good"]
print(thislist[2:5]) #won't include 5 indexed item

['Winner', 'Happy', 'Smart']

In [8]:
thislist = ["strong", "oleg", "best"]
if "oleg" in thislist:
  print("Yes, Oleg is the best")

Yes, Oleg is the best

Change Item Value:

In [9]:
thislist = ["Oleg", "Best", "Engineer"]
thislist[1] = "Expert"
print(thislist)

['Oleg', 'Expert', 'Engineer']

In [10]:
thislist = ["cat", "dog", "volunteer", "kickboxing", "bachata", "friends"]
thislist[1:3] = ["beach", "surfing"]
print(thislist)

['cat', 'beach', 'surfing', 'kickboxing', 'bachata', 'friends']

In [11]:
thislist = ["python", "java", "sql"]
thislist[1:3] = ["html"]
print(thislist)

['python', 'html']

**Insert/Append Items**
- To insert a new list item, at a specified index, without replacing any of the existing values, we can use the ***insert()*** method.

- To add an item to the end of the list, use the ***append()*** method:
- To append elements from another list to the current list, use the ***extend()*** method.

In [12]:
OlegList = ['worker', 'smart', 'responsible', 'disciplined']
OlegList.insert(1, 'Oleg') # insert method used to insert an item into the list
print(OlegList)

['worker', 'Oleg', 'smart', 'responsible', 'disciplined']

In [13]:
thislist = ["worker", "smart", "responsible"]
thislist.append("disciplined")
print(thislist)

['worker', 'smart', 'responsible', 'disciplined']

In [14]:
OZlist = ['oz', 'mn']
Oleglist = ['work','study']
OZlist.extend(Oleglist)
print(OZlist)

['oz', 'mn', 'work', 'study']

In [16]:
#extend() doesn't have to be a list, can be any
thislist = ["OZ", "study", "alot"] # list
thistuple = ("buy", "new") # tuple
thislist.extend(thistuple) # extend
print(thislist)

['OZ', 'study', 'alot', 'buy', 'new']