**METHODS PRACTICE EXERCISES**

**Exercise 1:**
- Create a list of five numbers.
- Print the length of the list.
- Check if a certain number is in the list.

In [1]:
ListOffive = ['1','2','Oleg','4','5']
print(ListOffive)
print(len(ListOffive))
print('4' in ListOffive)

['1', '2', 'Oleg', '4', '5']
5
True

**Exercise 2:**

- Create a list of your favorite fruits.
- Make a copy of the list.
- Clear the original list and print both the original and the copied lists.

In [ ]:
favFruits = ['PascalCase','camelCase', 'UPPERCASE', 'snake_case']
fruitsCopy = favFruits.copy()
favFruits.clear()
print(favFruits,fruitsCopy)

[] ['PascalCase', 'camelCase', 'UPPERCASE', 'snake_case']

**Exercise 3:**

- Create a set with three different numbers.
- Add a new number to the set.
- Remove a number from the set.
- Try to remove a number that does not exist in the set.

In [ ]:
NumSet = {1,2,3}
NumSet.add(4)
NumSet.remove(1)
#NumSet.remove(5)# KeyError
print(NumSet)

{2, 3, 4}

**Exercise 4:**

- Create a set with three different letters.
- Remove and return a random element from the set.
- Print the modified set and the popped element.

In [ ]:
Letters = {'a','b', 'OZ'}
Letters.pop()
print(Letters, Letters.pop())
Numbers = {1,2,3,4,5,6}
Numbers.pop()
print(Numbers, Numbers.pop())

{'b'} OZ
{3, 4, 5, 6} 2

**Exercise 5:**

- Create two sets: one with numbers from 1 to 3, and the other with numbers from 4 to 6.
- Merge the second set into the first set.
- Print the updated set.

In [ ]:
one = {1,2,3}
two = {4,5,6}
one.update(two)
print(one)

{1, 2, 3, 4, 5, 6}

**Exercise 6:**

- Create a dictionary with three key-value pairs (e.g., "a": 1, "b": 2, "c": 3).
- Remove and return a random key-value pair from the dictionary.
- Print the dictionary after removing the key-value pair.

In [ ]:
ozdict = {'a':1, 'b':2, 'c': 3}
ozdict.popitem()
print(ozdict)

{'a': 1, 'b': 2}

# **Exercise 7:**

### Instructions:
1. Create a dictionary with at least three key-value pairs.
2. Get and print all the keys from the dictionary.
3. Get and print all the values from the dictionary.
4. Get and print all the key-value pairs in the dictionary.

In [ ]:
Oleglist = {'1':1, "2":2, '3': 3}
print(Oleglist.keys(), Oleglist.values(), Oleglist.items())
print("Keys:", Oleglist.keys())
print("Values:", Oleglist.values())
print("Items:", Oleglist.items())

dict_keys(['1', '2', '3']) dict_values([1, 2, 3]) dict_items([('1', 1), ('2', 2), ('3', 3)])
Keys: dict_keys(['1', '2', '3'])
Values: dict_values([1, 2, 3])
Items: dict_items([('1', 1), ('2', 2), ('3', 3)])

**Exercise 8:**

- Create a dictionary with two key-value pairs.
- Retrieve the value of a specific key.
- Retrieve the value of a non-existent key and set a default value.
- Set a default value for a non-existent key and print the result.

In [9]:
Olegdictionary = {1:'Oleg', 2:'Nicole'}
print(Olegdictionary.get(2))
Olegdictionary.setdefault(3,'Jack')

Nicole

'Jack'

**Exercise 9:**

- Create a list of at least five numbers.
- Reverse the order of the list.
- Print the reversed list.

In [12]:
OZlist = [1,2,3,4,5]
OZlist.reverse()
print(OZlist)

[5, 4, 3, 2, 1]

**Exercise 10:**

- Create a list of 5 numbers in a random order.
- Sort the list.
- Print the sorted list.

In [13]:
randomlist=[4,5,2,6,9]
randomlist.sort()
print(randomlist)

[2, 4, 5, 6, 9]

**Exercise 11:**

- Create a list of three numbers.
- Extend the list by adding another list with two more numbers.
- Print the extended list.

In [15]:
three = [5,2,8]
three.extend((3,6,1))
print(three)

[5, 2, 8, 3, 6, 1]

**Exercise 12:**

- Create a list of numbers with some duplicates.
- Find how many times a specific number appears in the list.
- Print the result.

In [16]:
newlist = [5,2,8,2,8]
print(newlist.count(2))

2