## Looping Through List

In [3]:
reconcile = ['obfuscate','amicable', 'esoteric', 'enigmatic', 'misanthrope']
for reconcile in reconcile:
    print("attempt %s"%(reconcile))

attempt obfuscate
attempt amicable
attempt esoteric
attempt enigmatic
attempt misanthrope

In [5]:
reconcile = ['obfuscate','amicable', 'esoteric', 'enigmatic', 'misanthrope']
for reconcile in reconcile:
    print("attempt %s"%(reconcile))
    print(f"here is more {reconcile.title()}, and more \n")
    
print("print")

attempt obfuscate
here is more Obfuscate, and more

attempt amicable
here is more Amicable, and more

attempt esoteric
here is more Esoteric, and more

attempt enigmatic
here is more Enigmatic, and more

attempt misanthrope
here is more Misanthrope, and more

print

### Using the Range function

In [10]:

for ApacheSpark in range(1,4):
    print(ApacheSpark)
for Hadoop in range(5):
    print(Hadoop)

1
2
3
0
1
2
3
4

### Using range to make a list of numbers

In [20]:
# use list() functoin to convert to a list 
apache = list(range(1,4))
print((apache), type(apache))

[1, 2, 3] <class 'list'>

## Using range fucntion to skip numbers in a range 
### If you pass a third argument python uses it as a set size when generating numbers

In [21]:
evennumbers = list(range(2,11,2))
print(evennumbers)

[2, 4, 6, 8, 10]

### List first 10 square numbers

In [30]:
# Pyramid 
squares = []
for obfuscate in list(range(1,11)):
    mult = obfuscate ** 2
    squares.append(mult)
    print( squares)
# list of squares 
print("and here is the list:")
squares = []
for obfuscate in list(range(1,11)):
    squares.append(obfuscate ** 2) # each new value is appended to the list of squares 
print( squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
and here is the list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### List Comprehensions: 
- combine code into one line

In [31]:
obfuscate = [value **2 for value in range(1,11)]
print(obfuscate)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
################# page 60